// Screen Breakpoints
$breakpoint-mobile-extra-small: 340px;
$breakpoint-mobile-small: 375px; //sm
$breakpoint-mobile-medium: 420px;
$breakpoint-small: 768px; //md
$breakpoint-medium: 1440px; //lg
$breakpoint-large: 1520px;

$primary-green: #00b04c;
$primary-error: #da2020;
$black-1010: #101010;
